<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="teqtestCases.NewRequestTest"  >

  <listeners>
  <listener class-name="teqUtil.TeqTestReporting"/> 
  </listeners>
  <test name="Test1" >
  <parameter name="browser" value="chrome"/>
    <classes>
          <class name="teqtestCases.NewRequestTest" />  
      
    </classes>
  </test>
 <!--  
 <test name="Test2" >
  <parameter name="browser" value="firefox"/>
    <classes>
       <class name="teqtestCases.NewRequestTest" />
    </classes>
  </test> 
 -->
 
</suite>

